//las variables se declaran con antecedido por el signo @
@yellow : #f5f114;
@antiquewhite : #faebd7;

//se define una funcion mixin con .
.margenes (@top, @bottom){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron{
  background-color: @antiquewhite;
  color: black;
  //margin-top: 45px;
  .margenes( 45px, 15px);
}

.card-hotel{
  flex: 1 20px;
  /*padding: 2px 8px 2px 8px;*/
  //margin-top: 10px;
  .margenes(10px, 0px);
}

.btn-reserva{
  width: 100%;
  background-color: royalblue;
  border-radius: 10px;
}

footer{
  padding: 10px 10px 10px;
  background-color: @antiquewhite;
  /*margin-bottom: 0px;
  margin-top: 10px; */
  .margenes(10px, 0px);  //llama a la funcion 
}

.footer-addres-icon{
  padding-right: 10px;
}

.tab-content{
  //margin-top: 10px;
  .margenes(10px, 0px);
}

.carousel{
  padding-bottom: 10px;
}
