.jumbotron {
  background-color: #faebd7;
  color: black;
  margin-top: 45px;
  margin-bottom: 15px; }

.card-hotel {
  flex: 1 20px;
  /*padding: 2px 8px 2px 8px;*/
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  background-color: royalblue;
  border-radius: 10px; }

footer {
  padding: 10px 10px 10px;
  background-color: #faebd7;
  /*margin-bottom: 0px;
  margin-top: 10px; */
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-addres-icon {
  padding-right: 10px; }

.tab-content {
  margin-top: 10px;
  margin-bottom: 0px; }

.carousel {
  padding-bottom: 10px; }
